__pycache__/
*.pyc
.venv/
*.egg-info/
dist/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Java
target/
*.jar

# Go
bin/

# uv
uv.lock
